<!DOCTYPE html>
<html>

<head>
    <title>Instagram Profile Clone</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header class="head p-top p-bottom">
            <div class="profile">
                <img class="profile-picture" src="<%= user.photos[0].value %>" alt="Profile Picture">
            </div>
            <div class="stats">
                <div class="profile-info">
                    <h3 class="username">
                        <%= user.displayName %>
                    </h3>
                    <button class="edit-profile-button">Edit Profile</button>
                </div>
                <div class="userdetails">
                    <span class="posts-count">100 posts</span>
                    <span class="followers-count">10k followers</span>
                    <span class="following-count">500 following</span>
                </div>
                <div class="description">
                    <span>World</span><br>
                    <span class="designation">video creator</span><br>
                    <span>description</span><br>
                </div>
            </div>
        </header>

    </div>
</body>

</html>