<!DOCTYPE html>
<html>

<head>
  <title>Instagram Sign Up</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="logSignContainer">
    <form action="/signup" method="post">
      <h1>Sign Up</h1>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Sign Up">
      </div>
    </form>
  </div>
</body>

</html>